# NWB file
data1.nwb

# Numpy and CSV files
TimeSeries_amp_settle_stimulus.npy
TimeSeries_analog_output_acquisition.npy
TimeSeries_charge_recovery_stimulus.npy
TimeSeries_compliance_limit_stimulus.npy
TimeSeries_digital_input_acquisition.npy
TimeSeries_stimulation_stimulus.npy
ElectricalSeries_acquisition.npy

# Text files
phase_space_metric_ttest_explanation.txt
Ideas/


# RHS files
data1.rhs


